<!DOCTYPE html>
<html>
<head>
<title>blackjack</title>
<link rel="stylesheet" href="/blackjack/bj.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>

<div id="card">
    <div class="cardHolder">
        <p class="cardText red">2<br>♥</p>
    </div>
    <div class="cardHolder" style="transform: rotate(180deg);">
        <p class="cardText ">2<br>♥</p>
    </div>
</div>

</body>
</html>