<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-icons@2.0.0/foundation-icons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <title>{{"Ved & Co - "+title}}</title>
</head>

<body>
  <Div id="topbar"> 
    <a id="topTitle" href="/">Ved & Co UB</a>
      <Div id="topsectorlist"> 
        <a class="topSectors" href="/produkter">produkter</a> 
        <a class="topSectors" href="/om oss">om oss</a>
        <a class="topSectors" href="/kontakt oss">kontakt oss </a>
      </div>
  </div>
  <div id="content">
    {{ content }}
  </div>
  <div id="footer">
    <h1>noe annet skibidi bla bla bla</h1>
  </div>
  <div id="colourBar">
  </div>
</div>

</body>
</html>